[core]
    autocrlf = true
[pull]
	rebase = true
[merge]
    ff = false
[core]
	excludesfile = ~/.gitignore_global
[init]
	defaultBranch = main

[alias]
	lab = "!lab"
    dft = difftool
    ddiff = diff --ext-diff
    dshow = show --ext-diff
    dlog = log -p --ext-diff

[diff]
    tool = difftastic
    external = difft

[difftool]
    prompt = false

[difftool "difftastic"]
    cmd = difft "$LOCAL" "$REMOTE"
[pager]
    difftool = true
[credentials]
	helper = store

[include]
	path="~/.gitlocal"

[rerere]
    autoUpdate = true
    enabled = true
