[core]
    autocrlf = true
[user]
	email = marius@gridscale.io
	name = Marius Buescher
[pull]
	rebase = true
[merge]
    ff = false
[core]
	excludesfile = ~/.gitignore_global
[init]
	defaultBranch = main

[alias]
	lab = "!lab"
    dft = difftool

[diff]
    tool = difftastic

[difftool]
    prompt = false

[difftool "difftastic"]
    cmd = difft "$LOCAL" "$REMOTE"
[pager]
    difftool = true
[credentials]
	helper = store

[include]
	path="~/.gitlocal"

[rerere]
    autoUpdate = true
    enabled = true
